{% extends "UKMTidBundle::User/register_layout.html.twig" %}
{% block time_container %}
	<div class="container" id="registerStart" {% if false %} style="display:none;" {% endif %} >
		<h2>Når startet du på jobb?</h2>
		<form method="POST" action="{{ path('ukm_tid_start') }}">
			{% embed 'UKMTidBundle::User/startform.html.twig' with 
				{ 
				'today': iServ.getCurrentDay(), 
				'days': mServ.findDaysInMonth(iServ.getCurrentMonth(), iServ.getCurrentYear()), 
				'thisMonth': iServ.getCurrentMonth(), 
				'months': iServ.getMonths(), 
				'thisYear': iServ.getCurrentYear(),
				'years': iServ.getAvailableYears(), 
				'thisHour': iServ.getCurrentHour(), 
				'thisMinute': iServ.getCurrentMinute() 
				} 
			%}
			{% endembed %}
			<div class="row">
				<div class="form-group col-xs-12">
					<button class="btn btn-success btn-success-outline btn-block" type="submit" id="startSubmit">Startet på jobb</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}