{% extends "UKMTidBundle::User/register_layout.html.twig" %}	
{% block time_container %}
	<div class="container" id="registerStop" {% if false %} style="display:none;" {% endif %}>
		<h2>Når sluttet du på jobb?</h2>
		{# TODO: Ikke vis denne dersom vi er i edit-visning med både start og stopp #}
		{% if true %}
			<p>Du startet kl. <span id="showStartTime">{{ interval.getStartDateTime|date('H:i') }}</span></p>
		{% endif %}
		<form method="POST" action="{{ path('ukm_tid_stop') }}">
		{# TODO: Kan dette gjøres sånn, eller må alle interaksjoner med objekt gå gjennom en service? #}
			{% embed 'UKMTidBundle::User/stopform.html.twig' with
				{
					'today': iServ.getDayFromInterval(interval),
					'days': mServ.findDaysInMonth(iServ.getCurrentMonth, iServ.getCurrentYear),
					'thisMonth': iServ.getMonthFromInterval(interval),
					'months': iServ.getMonths,
					'thisYear': iServ.getYearFromInterval(interval),
					'years': iServ.getAvailableYears(),
					'thisHour': iServ.getCurrentHour,
					'thisMinute': iServ.getCurrentMinute
				}
			%}
			{% endembed %}
			<div class="row">
				<div class="form-group col-xs-12">
					<button class="btn btn-warning btn-success-outline btn-block" type="submit" id="stopSubmit">Ferdig på jobb</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}