{% extends "UKMTidBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<h1>Mine ansatte</h1>
			{% for department in UKMuser.getMyDepartments() %}
				<h3>{{ department.getName() }}</h3>
				<ol class="list-group">
					{% for user in department.getMembers() %}
						<li class="list-group-item">
							<a href="{{ url('ukm_tid_user', {'id': user.getId(), 'month': "now"|date('m'), 'year':"now"|date('Y')}) }}">{{ user.getName() }}</a>
						</li>
					{% else %}
						<li class="list-group-item">Dette kontoret har ingen registrerte ansatte</li>
					{% endfor %}
					<br>
				</ol>
			{% endfor %}
		</div>
	</div>
{% endblock %}