# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    encoders:
        UKMNorge\TidBundle\Entity\User: 'sha256'
        #UKMDipBundle\Entity\User: 'sha256'
        #FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        dip:
            id: dipb_user_provider
            #entity:
            #    class: "%ukm_dip.user_class%"
        #fos_userbundle:
        #    id: fos_user.user_provider.username
        #in_memory:
        #    memory: ~

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            provider: dipb_user_provider
            logout:
                path: /logout
                target: /
            anonymous: true
            pattern: ^/

    access_control:
        - { path: ^/$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        #- { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        #- { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        #- { path: ^/admin/, role: ROLE_ADMIN }
        # Tid:
        - { path: ^/user, role: ROLE_USER }
        - { path: ^/users/, role: ROLE_ADMIN }
        - { path: ^/superuser/, role: ROLE_SUPER_ADMIN }
